<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.shoppingspring.mapper.Province_Mapper">
    <select id="getList"
            resultType="tlProvince">
        select * from shopping_datasource.tl_province
    </select>
    <select id="selectByProvinceName" resultType="java.lang.Integer">
        select ProvinceID from shopping_datasource.tl_province where
            ProvinceName = #{provinceName}
    </select>
</mapper>
