<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.shoppingspring.mapper.CustomerMapper">

    <select id="getBasicInfo"
            resultType="customers">
        select * from shopping_datasource.customers where customer_id = #{id}
    </select>
</mapper>
